/** @format */

@import "tailwindcss";

@theme {
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-nunito: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #0a0a0f;
}

html {
  scroll-behavior: smooth;
}
